{% extends 'eventos/base.html' %}
{% load eventos_extras %}
{% block jumbotron %}
    {% include 'eventos/jumbotron.html' %}
{% endblock %}
    
{% block sidebar %}
    {% include 'eventos/sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="col-sm-10 col-md-10 ">
        {% if form.errors %}
            <div class="alert alert-danger text-center">
                Corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo.
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Adicionar Atividade
                </h3>
            </div>
        
            <form role="form" class="form-horizontal" action="/atividade_new/" method="post">
            <div class="panel-body">
                {% csrf_token %}
            
                {% for field in form %}
                    <div class="form-group">
                    
                        {{field.label_tag|addclass:"col-sm-2 control-label"}}
                        <div class="col-sm-5">
                            {{field|addclass:"form-control"}}
                        </div>
                        <div class="col-sm-5">
                            <span class="help-block">{{field.errors.as_text}}</span>    
                        </div>
                        
                    </div>
                {% endfor %}
            </div>
            
        </div>
        <button type="submit" class="btn btn-success" ">Salvar</button>
        </form>
    </div>
{% endblock content %}
