{% extends 'eventos/base.html' %}
{% block jumbotron %}
    {% include 'eventos/jumbotron.html' %}
{% endblock %}
    
{% block sidebar %}
    {% include 'eventos/sidebar.html' %}
{% endblock %}

{% block content %}
	<div class="col-sm-10 col-md-10">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4>Confirmar Inscrições</h4>
        </div>

        <div class="panel-body">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Nº Inscrição</th>
                <th>Nome</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              {% for pendente in pendentes %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ pendente.pk }}</td>
                    <td>{{ pendente }}</td>
                    <td>
                      <a class="btn btn-success" href="{% url 'eventos:inscricao_update' pendente.pk %}" role="button"><span class="glyphicon glyphicon-ok"></span> Confirmar</a>
                      <a class="btn btn-danger" href="{% url 'eventos:inscricao_delete' pendente.pk %}" role="button"><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
                    </td>
                  </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
{% endblock content %}
