{% extends 'eventos/base.html' %}
{% block jumbotron %}
    {% include 'eventos/jumbotron.html' %}
{% endblock %}
    
{% block sidebar %}
    {% include 'eventos/sidebar.html' %}
{% endblock %}

{% block content %}
		<div class="col-sm-10 col-md-10">
			<div class="panel panel-default">
  				<div class="panel-heading">
  					<h3 class="panel-title">
              Impressos
            </h3>
  				</div>
  				<div class="panel-body">
             {% for atividade in atividades %}
                <div class="row">
                  <div class="col-sm-7 col-md-7">
                    <a class="btn btn-link" href="#" role="button">{{ atividade }}</a>
                  </div>
                  <div class="col-sm-5 col-md-5">
                    <a class="btn btn-default" href="{% url 'eventos:crachas' evento.pk atividade.pk %}" role="button" target="_blank"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> Crachás</a>
                    <a class="btn btn-warning" href="{% url 'eventos:listas' evento.pk atividade.pk %}" role="button" target="_blank"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Listas</a>
                    <a class="btn btn-success" href="{% url 'eventos:certificados' evento.pk atividade.pk %}" role="button" target="_blank"><span class="glyphicon glyphicon-certificate" aria-hidden="true"></span> Certificados</a>
                  </div>
                </div>
                
             {% endfor %}
             
  				</div>
			</div>	
		</div>
{% endblock content %}
