{% extends 'eventos/base.html' %}
{% load eventos_extras %}

{% block jumbotron %}
    {% include 'eventos/jumbotron.html' %}
{% endblock %}
    
{% block sidebar %}
    {% include 'eventos/sidebar.html' %}
{% endblock %}

{% block content %}
    <div class="col-sm-10 col-md-10 ">
        {% if form.errors %}
            <div class="alert alert-danger text-center">
                Corrija o{{ form.errors|pluralize }} erro{{ form.errors|pluralize }} abaixo.
            </div>
        {% endif %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Lista de presença
                </h3>
            </div>
            <div class="panel-body">
                <form role="form" class="form-inline" method="post">
                    {% csrf_token %}
                    <input id="id_form-num" name="form-num" type="hidden" value="{{ inscritos|length }}" />
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Selecione</th>
                    </tr>
                    </thead>
                    <tbody>
                        
                        {% for inscrito in inscritos %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>
                                {{ inscrito.inscricao }}
                            </td>
                            <td>
                                <input id="id_form-{{ forloop.counter0 }}-participante" name="form-{{ forloop.counter0 }}-participante" type="hidden" value="{{ inscrito.inscricao.pk }}" />

                                <div class="form-group">
                                    <label class="sr-only" for="id_form-{{ forloop.counter0 }}-presente">Presente</label>
                                        <select id="id_form-{{ forloop.counter0 }}-presente" name="form-{{ forloop.counter0 }}-presente" class="form-control" required >
                                            <option>Selecione</option>
                                            <option value="P" selected>Presente</option>
                                            <option value="F">Falto</option>
                                        </select>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                </form>
            </div>
            
        </div>
        <button type="submit" class="btn btn-success" ">Salvar</button>
        </form>
    </div>
{% endblock content %}
