<div class="col-md-2 sidebar">
	<ul class="nav nav-pills nav-stacked">
		{% if papel == 'P' %}
			<li class="active"><a href="{% url 'eventos:evento_detalhes' evento.pk %}"><span class="glyphicon glyphicon-home"></span> Evento</a></li>
			<li><a href="{% url 'eventos:evento_atividade' evento.pk %}"><span class="glyphicon glyphicon-hourglass"></span> Programação</a></li>
			{% if atividade %}
			<li><a href="{% url 'eventos:atividade_detalhes' atividade.pk %}"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Curso</a></li>
			<li><a href="{% url 'eventos:mensagem' evento.pk atividade.pk %}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mensagens</a></li>
			{% endif %}
		{% elif papel == 'O' %}
			<li class="active"><a href="{% url 'eventos:evento_detalhes' evento.pk %}"><span class="glyphicon glyphicon-home"></span> Evento</a></li>
			<li><a href="{% url 'eventos:evento_atividade' evento.pk %}"><span class="glyphicon glyphicon-hourglass"></span> Programação</a></li>
			<li><a href="{% url 'eventos:evento_edit' evento.pk %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar Dados</a></li>
			<li><a href="{% url 'eventos:confirmar_inscricao' evento.pk %}"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Inscrições</a></li>
			<li><a href="{% url 'eventos:impressos' evento.pk %}"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Impressos</a></li>
			<li><a href="{% url 'eventos:mensagem' evento.pk 0 %}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mensagens</a></li>
		{% elif papel == 'D' %}
			<li class="active"><a href="{% url 'eventos:evento_detalhes' evento.pk %}"><span class="glyphicon glyphicon-home"></span> Evento</a></li>
			<li><a href="{% url 'eventos:evento_atividade' evento.pk %}"><span class="glyphicon glyphicon-hourglass"></span> Programação</a></li>
			{% if atividade %}
			<li><a href="{% url 'eventos:atividade_detalhes' atividade.pk %}"><span class="glyphicon glyphicon-education" aria-hidden="true"></span> Curso</a></li>
			<li><a href="{% url 'eventos:arquivo_new' atividade.pk %}"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Arquivos</a></li>
			<li><a href="{% url 'eventos:mensagem' evento.pk atividade.pk %}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Mensagens</a></li>
			{% endif %}
		{% else %}
			<li class="active"><a href="{% url 'eventos:evento_inscricao' evento.pk %}"><span class="glyphicon glyphicon-plus"></span> Inscrever-se</a></li>
            <li><a href="{% url 'eventos:evento_atividade' evento.pk %}"><span class="glyphicon glyphicon-hourglass"></span> Programação</a></li>
		{%endif %}
	</ul>	
</div>